numpy
pandas
jupyterlab
matplotlib
seaborn
openpyxl
xlrd
plotly
streamlit
yfinance
missingno
scipy
statsmodels
pymssql==2.3.2
mysql-connector-python # 안됨 sqlite3 사용해야함, 이유 streamlit에서는 DB설정 한게 없음 로컬에는 mysql이 있지만 streamlit에는 없어서
python-dotenv